.profile {
  width: var(--main-width);
  margin: 20px auto;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--profile-bgc);
  border: 3px solid var(--profile-fbgc);
  border-radius: 3%;
}
.description {
  width: 250px;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--second-bgc);
}

.stats {
  width: 250px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 700;
  background-color: var(--profile-stats-bgc);
}
.avatar {
  margin: 0 auto 30px auto;
  padding: 20px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  overflow: hidden;
  object-fit: contain;
  transition: var(--transition);
}

.avatar:hover {
  transform: scale(1.1);
  border-color: var(--accent);
}
.label {
  display: flex;
  justify-content: center;
  padding: 7px 10px;
  color: var(--main-color);
}
.item:hover .label {
  color: var(--accent);
}
.quantity {
  display: block;
  padding: 5px 10px;
}
.item {
  width: 33.333%;
  border: 1px solid var(--main-color);
}

.username {
  color: var(--text-color);
  margin: 0;
  font-family: var(--main-font);
  font-weight: bolder;
}
.tag {
  color: var(--main-color);
  margin: 10px 0;
}
.location {
  color: var(--main-color);
  margin: 10px 0 0 0;
}
